.auth{
    &-page{
        width: 100%;
        height: 100vh;
        background: $navy-deep;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-welcome{
            color: $light;
            transition: .4s ease-in-out;
        }
    }   
}

.profile{
    &-wrapper{
        display: grid;
        grid-template-columns: 20vw 80vw;
        height: 100vh;
    }
    &-sidebar{
        background: $grey;
    }
    &-content{
        padding: abs($px*2);
        padding-right: 0;
        max-width: 100%;
    }
}