//colors

$blue-muted: #E7EFFE;
$light: #fff;
$navy-deep: #1B2FB1;
$navy-muted: #5A6CE3;
$dark: #141414;
$grey: #EDEEF5;

$font_display: 'Montserrat', sans-serif;

$logo: url(../images/logo.png);

$px: 8px;